body {
  background-color: #2ecc71;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  min-width: 600px;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: white;
  border-width: 0.5px 0px 0.5px 0px;
  border-color: #2ecc71;
  border-style: solid;
  color: #2ecc71;
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  display: inline-block;
}

.row {
  margin-bottom: 0px;
}

.modal {
  background-color: white;
  color: black;
}

.green {
  background-color: #2ecc71 !important;
}

.footer {
  margin-top: 20px;
  font-size: 15px;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

.hidden {
  display: none;
}

.text {
  height: 70px;
}

.col.div {
  float: none;
  margin: 0 auto;
}